{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    {% for item in items %}
    {% comment %} <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> {% endcomment %}
      <div class="card d-flex flex-wrap justify-content-center align-items-center gap-3 m-3" style="width: 18rem;">
        <img src="{{item.strMealThumb}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.strmeal}}</h5>
          <p class="card-text">{{item.idMeal }}</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
